<!-- app.component.html -->
<div class="container  text-center d-flex flex-column justify-content-center align-items-center vh-100">
    
  <!-- العنوان -->
  <h1 class="mb-5">هذا الموقع تم تطويره من قبل عمر شعبان</h1>
  <div class="row w-100">
    
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm ">
        <img src="/images/images.jpeg" class="card-img-top" alt="صورة 1">
        <div class="card-body">
            <h2>My Cima Site</h2>
          <a href="https://wecima.video/" target="_blank"><button class="btn btn-primary w-100">first Site</button> </a> 
        </div>
      </div>
    </div>
    <!-- العمود الثاني -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img  src="/images/download.jpeg" class="card-img-top" alt="صورة 2">
        <div class="card-body">
            <h2>fushaar Site</h2>
          <a href="https://www.fushaar.live/" target="_blank"><button class="btn btn-success w-100">second Site </button></a>
        </div>
      </div>
    </div>

    <!-- العمود الثالث -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="/images/downloaaad (1).jpeg" class="card-img-top" alt="صورة 3">
        <div class="card-body">
         <p>Add a VPN extension to Chrome and connect to a USA server</p>
         <a class="link1" href="https://chromewebstore.google.com/detail/free-vpn-for-chrome-vpn-p/majdfhpaihoncoakbjgbdhglocklcgno"> VPN اضافة</a>
         <a href="https://tubitv.com/movies" target="_blank"> <button class="btn btn-danger w-100 mt-4">last Site</button></a>
        </div>
      </div>
    </div>

  </div>
</div>
